{% extends 'base/base.html' %}

{% block content %}
<div class="container">
    <h2 class="text-center">Add New Alumni</h2>

    <div class="card shadow p-4 mt-3">
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                {% for field in form %}
                <div class="col-md-6 mb-3">
                    <label class="form-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-danger">
                            {{ field.errors.0 }}
                        </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-success">Add Alumni</button>
            <a href="{% url 'alumni_list' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
